@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1100px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --clr-background: #404040;
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-primary: #38b27f;
  --clr-transparent: #ffffff00;
}

@media (prefers-color-scheme: light) {
  :root {
    --clr-background: #dcdcdc;
    --clr-white: #000;
    --clr-black: #fff;
    --clr-primary: #38b27f;
    --clr-transparent: #ffffff00;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--clr-white);
  background: var(--clr-background);
}

h1 {
  font-size: 2.5rem;
}

main,
nav {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

nav > * {
  margin: 0 1rem;
}

a {
  color: var(--clr-primary);
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Tab Styles */
.tabs {
  display: grid;
  grid-template-columns: auto auto auto;
}

.tab-container {
  width: 340px;
  /* height: 430px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  padding: 1rem;
  border: dotted 1px var(--clr-primary);
}

.tab-header {
  width: 246px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 1em auto;
}

.tab-header-o,
.tab-header-x {
  width: 16px;
  height: 16px;
  background-color: var(--clr-transparent);
}

.tab-header-o {
  border: solid 3px var(--clr-white);
  border-radius: 50%;
}

.tab-header-x:before,
.tab-header-x:after {
  content: '';
  height: 16px;
  border-left: 3px solid var(--clr-white);
  border-radius: 1.5px;
  position: absolute;
  transform: rotate(45deg);
}

.tab-header-x:before {
  transform: rotate(-45deg);
}

.tab-header-x:after {
  transform: rotate(45deg);
}

.base-fret {
  position: absolute;
  top: 2.7rem;
  left: -1.2rem;
  font-size: 2rem;
}

.fret {
  width: 205px;
  height: 70px;
  margin: 0 auto;
  border-top: solid 1px var(--clr-white);
  border-bottom: solid 1px var(--clr-white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.string {
  width: 0px;
  height: 70px;
  background-color: var(--clr-transparent);
  border-left: solid 1px var(--clr-white);
  display: relative;
}

.string:nth-child(1) {
  border-left-width: 3.5px;
}

.string:nth-child(2) {
  border-left-width: 3px;
}

.string:nth-child(3) {
  border-left-width: 2.5px;
}

.string:nth-child(4) {
  border-left-width: 2px;
}

.string:nth-child(5) {
  border-left-width: 1.2px;
}

.finger {
  position: relative;
  width: 28px;
  height: 28px;
  background-color: var(--clr-white);
  border-radius: 50%;
  left: -15px;
  top: 20px;
  background: var(--clr-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
