@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1100px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --clr-background: #404040;
  --clr-white: #ffffff;
  --clr-dark: #3b3b3b;
  --clr-primary: #38b27f;
  --clr-secondary: #ed42d6;
  --clr-transparent: #ffffff00;
}

@media (prefers-color-scheme: light) {
  :root {
    --clr-background: #dcdcdc;
    --clr-white: #3b3b3b;
    --clr-dark: #fff;
    --clr-primary: #38b27f;
    --clr-transparent: #ffffff00;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--clr-white);
  background: var(--clr-background);
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

a {
  color: var(--clr-primary);
  text-decoration: none;
}

main,
nav {
  max-width: 1100px;
  margin: 0 2em;
}

.gradient-text {
  width: min-content;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--clr-white);
  background-image: linear-gradient(
    25deg,
    var(--clr-secondary) 0%,
    var(--clr-white) 50%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@media (min-width: 1164px) {
  main,
  nav {
    margin: 0 auto;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
