.tab-container {
  width: 16rem;
  aspect-ratio: 1/1.14;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.tab-header {
  width: 11.53rem;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 1em auto;
}

.tab-header-o,
.tab-header-x {
  width: 0.8rem;
  height: 0.8rem;
  background-color: var(--clr-transparent);
}

.tab-header-o {
  border: solid 3px var(--clr-white);
  border-radius: 50%;
}

.tab-header-x:before,
.tab-header-x:after {
  content: '';
  height: 0.8rem;
  border-left: 3px solid var(--clr-white);
  border-radius: 1.5px;
  position: absolute;
  transform: rotate(45deg);
}

.tab-header-x:before {
  transform: rotate(-45deg);
}

.tab-header-x:after {
  transform: rotate(45deg);
}

.base-fret {
  position: absolute;
  top: 2.025rem;
  left: -1.25rem;
  font-size: 2rem;
}

.fret {
  width: 9.61rem;
  height: 3.28rem;
  margin: 0 auto;
  border-top: solid 1px var(--clr-white);
  border-bottom: solid 1px var(--clr-white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fret:nth-of-type(2) {
  border-top: solid 2px var(--clr-white);
}

.fret:last-of-type {
  border-bottom: solid 2px var(--clr-white);
}

.string {
  width: 0;
  height: 3.25rem;
  background-color: var(--clr-transparent);
  border-left: solid 1px var(--clr-white);
  display: relative;
}

.string:nth-child(1) {
  border-left-width: 3.5px;
}

.string:nth-child(2) {
  border-left-width: 3px;
}

.string:nth-child(3) {
  border-left-width: 2.5px;
}

.string:nth-child(4) {
  border-left-width: 2px;
}

.string:nth-child(5) {
  border-left-width: 1.2px;
}

.finger {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--clr-white);
  border-radius: 50%;
  left: -0.85rem;
  top: 0.85rem;
  background: var(--clr-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
